.issue-container {
	margin: auto;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

/* search container */
.issue-search-container {
	display: flex;
	justify-content: space-between;
}

.search-form {
	display: flex;
}

.issue-search-container input[type='submit'] {
	border: none;
	padding: 10px;
	background-color: #45a049;
	color: #f2f2f2;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;
}

.issue-search-container input[type='text'] {
	padding: 8px 14px;
	border: 1px solid #919191;
	border-radius: 5px;
	margin-right: 1rem;
}

.project {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: aliceblue;
	margin: 5px;
}

.project-title {
	width: 20%;
}

.project-author {
	width: 20%;
}

.project-label {
	width: 20%;
}

.project-desc {
	width: 40%;
}

.issue-filter-container {
	margin-top: 0.5rem;
	padding: 0 0.25rem;
	height: 2rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	background-color: #f2f2f2;
}

#filter-form {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: baseline;
	align-items: center;
}
